In [2]:
# Import Dependencies
import pandas as pd
import numpy as np

In [3]:
# Load in file
file = "Homework4.csv"

In [4]:
file_pd = pd.read_csv(file)
file_pd.head()

,SN,Age,Gender,Item ID,Item Name,Price
0,Aelalis34,38,Male,165,Bone Crushing Silver Skewer,3.37
1,Eolo46,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32
2,Assastnya25,34,Male,174,Primitive Blade,2.46
3,Pheusrical25,21,Male,92,Final Critic,1.36
4,Aela59,23,Male,63,Stormfury Mace,1.27

In [5]:
file_pd.columns

Index(['SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [6]:
 #Player Count
Total_Players = len(file_pd["SN"].unique())
print(Total_Players)

573

In [7]:
#Purchasing Analysis (Total) = Total Items Purchased
file_pd["Item ID"].count()

780

In [8]:
#Purchasing Analysis (Total) = Total Revenue
total_rev = file_pd["Price"].sum()
print(total_rev)

2286.33

In [9]:
 #Purchasing Analysis (Total) = Calculate the number of unique items.
Unique_Items = len(file_pd["Item Name"].unique())
print(Unique_Items)

179

In [10]:
#Purchasing Analysis (Total) = Total Items Purchased
file_pd["Price"].mean()

2.931192307692303

In [11]:
#Gender Demographics = Gender Counts
file_pd['Gender'].value_counts()

Male                     633
Female                   136
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [12]:
#Gender Demographics = Percentage Breakdown
file_pd['Gender'].value_counts()/file_pd["Gender"].count()

Male                     0.811538
Female                   0.174359
Other / Non-Disclosed    0.014103
Name: Gender, dtype: float64

In [13]:
 # Purchasing Analysis (Gender) - The below each broken by gender:
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Normalized Totals


#Male Data
male_df = file_pd.loc[file_pd["Gender"] == "Male", :]
male_df

total_male_purchases = male_df["Item ID"].count()
average_male_purchase_price = male_df["Price"].mean()
total_male_purchase_value = male_df["Price"].sum()

print(total_male_purchases)
print(average_male_purchase_price)
print(total_male_purchase_value)

633
2.9505213270142154
1867.68

In [14]:
#Female Data
female_df = file_pd.loc[file_pd["Gender"] == "Female", :]
female_df

total_female_purchases = female_df["Item ID"].count()
average_female_purchase_price = female_df["Price"].mean()
total_female_purchase_value = female_df["Price"].sum()

print(total_female_purchases)
print(average_female_purchase_price)
print(total_female_purchase_value)

136
2.815514705882352
382.90999999999997

In [15]:
#Other / Non-Disclosed

other_df = file_pd.loc[file_pd["Gender"] == "Other / Non-Disclosed", :]
other_df

total_other_purchases = other_df["Item ID"].count()
average_other_purchase_price = other_df["Price"].mean()
total_other_purchase_value = other_df["Price"].sum()

print(total_other_purchases)
print(average_other_purchase_price)
print(average_other_purchase_price)

11
3.2490909090909086
3.2490909090909086

In [16]:
male_data_normalized = pd.DataFrame({
      "Purchase Count":[total_male_purchases],
      "Average Purchase Price":[average_male_purchase_price],
      "Total Purchase Value":[total_male_purchase_value],
})
male_data_normalized.head()

   Average Purchase Price  Purchase Count  Total Purchase Value
0                2.950521             633               1867.68

In [17]:
female_data_normalized = pd.DataFrame({
      "Purchase Count":[total_female_purchases],
      "Average Purchase Price":[average_female_purchase_price],
      "Total Purchase Value":[total_female_purchase_value],
})
female_data_normalized.head()

   Average Purchase Price  Purchase Count  Total Purchase Value
0                2.815515             136                382.91

In [18]:
other_data_normalized = pd.DataFrame({
      "Purchase Count":[total_other_purchases],
      "Average Purchase Price":[average_other_purchase_price],
      "Total Purchase Value":[total_other_purchase_value],
})
other_data_normalized.head()

   Average Purchase Price  Purchase Count  Total Purchase Value
0                3.249091              11                 35.74

In [19]:
net_data_normalized = pd.DataFrame({
      "Purchase Count":[total_male_purchases, total_female_purchases, total_other_purchases],
      "Average Purchase Price":[average_male_purchase_price, average_female_purchase_price, average_other_purchase_price],
      "Total Purchase Value":[total_male_purchase_value, total_female_purchase_value, total_other_purchase_value],
})
net_data_normalized.head()

   Average Purchase Price  Purchase Count  Total Purchase Value
0                2.950521             633               1867.68
1                2.815515             136                382.91
2                3.249091              11                 35.74

In [20]:
#Age Demographics

#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.) 

#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Normalized Totals

# Create the bins in which Data will be held
bins = [0, 10, 14, 18, 22, 26, 30, 34, 38, 42, 46, 50, 100]

group_labels = ["0 - 10", "10 - 14", "14 - 18", "18 - 22", "22 - 26", "26 - 30",
                "30 - 34", "34 - 38", "38 - 42", "42 - 46", "46 - 50", "50 - 100",]

In [21]:
# Slice the data and place it into bins
pd.cut(file_pd["Age"], bins, labels=group_labels).head()

0    34 - 38
1    18 - 22
2    30 - 34
3    18 - 22
4    22 - 26
Name: Age, dtype: category
Categories (12, object): [0 - 10 < 10 - 14 < 14 - 18 < 18 - 22 ... 38 - 42 < 42 - 46 < 46 - 50 < 50 - 100]

In [22]:
# Place the data series into a new column inside of the DataFrame
file_pd["View Group"] = pd.cut(file_pd["Age"], bins, labels=group_labels)
file_pd.head()

,SN,Age,Gender,Item ID,Item Name,Price,View Group
0,Aelalis34,38,Male,165,Bone Crushing Silver Skewer,3.37,34 - 38
1,Eolo46,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,18 - 22
2,Assastnya25,34,Male,174,Primitive Blade,2.46,30 - 34
3,Pheusrical25,21,Male,92,Final Critic,1.36,18 - 22
4,Aela59,23,Male,63,Stormfury Mace,1.27,22 - 26

In [184]:
 # Create a GroupBy object based upon "View Group"
age_group = file_pd.groupby("View Group")

#Total Purchase Value
purchase_count_age = age_group["Item ID"].count()


average_purchase_age = age_group["Price"].mean()


total_purchase_value_age = age_group["Price"].sum()

In [185]:
 # Normalized Summary of Age Demographics
age_summary_table = pd.DataFrame({"Purchase Count by Age": purchase_count_age,
                                    "Average Purchase by Age": average_purchase_age,
                                  "Total Purchase by Age": total_purchase_value_age,
                                 })
age_summary_table.head()

,Average Purchase by Age,Purchase Count by Age,Total Purchase by Age
View Group,,,
0 - 10,3.019375,32,96.62
10 - 14,2.702903,31,83.79
14 - 18,2.876757,111,319.32
18 - 22,2.927273,231,676.20
22 - 26,2.937295,207,608.02

In [202]:
#Top Spenders

#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

#SN
#Purchase Count
#Average Purchase Price
#Total Purchase Value

# Grouping the DataFrame by "Assignee"
SN_group_2 = file_pd.groupby("SN").agg({'Price':'sum','Item ID': 'count'})
SN_group_3 = file_pd.groupby("SN").agg({'Price':'mean'})
SN_group_3  = SN_group_3.round(2)

In [203]:
#Sorted
top_sorted = SN_group_2.sort_values(by='Price', ascending=False,) 
top_sorted2 = SN_group_3.sort_values(by='Price', ascending=False,) 
top_sorted  = top_sorted .rename(
    columns={"Price": "Total Purchase Value", "Item ID": "Purchase Count"})
top_sorted2  = top_sorted2 .rename(
    columns={"Price": "Average Purchase Price"})

top_sorted = top_sorted.reset_index()
top_sorted2 = top_sorted2.reset_index()
top_sorted = top_sorted.merge(top_sorted2, on="SN")

top_sorted.head(5)

            SN  Total Purchase Value  Purchase Count  Average Purchase Price
0  Undirrala66                 17.06               5                    3.41
1     Saedue76                 13.56               4                    3.39
2  Mindimnya67                 12.74               4                    3.18
3   Haellysu29                 12.73               3                    4.24
4       Eoda93                 11.58               3                    3.86

In [234]:
#Most Popular Items
#Identify the 5 most popular items by purchase count, then list (in a table):
#Item ID
#Item Name
#Purchase Count (Item ID)
#Item Price
#Total Purchase Value (Price.sum)

Pop_group_1 = file_pd.groupby("Item Name").agg({'Item ID': 'count','Price':'sum'})

In [235]:
Pop_group_2 = file_pd.groupby("Item Name").agg({'Price':'unique'})

In [236]:
#Sorted
pop_sorted = Pop_group_1.sort_values(by='Item ID', ascending=False,) 
pop_sorted  = pop_sorted .rename(
     columns={"Item ID": "Purchase Count","Price": "Total Purchase Value"})
Pop_group_2  = Pop_group_2 .rename(
     columns={"Price": "Item Price"})

pop_sorted = pop_sorted.reset_index()
Pop_group_2 = Pop_group_2.reset_index()
pop_sorted = pop_sorted.merge(Pop_group_2, on="Item Name")

pop_sorted.head(5)

,Item Name,Purchase Count,Total Purchase Value,Item Price
0,Final Critic,14,38.60,"[1.36, 4.62]"
1,Arcane Gem,11,24.53,[2.23]
2,"Betrayal, Whisper of Grieving Widows",11,25.85,[2.35]
3,Stormcaller,10,34.65,"[4.15, 2.78]"
4,Woeful Adamantite Claymore,9,11.16,[1.24]

In [244]:
#Most Profitable Items
#Identify the 5 most profitable items by total purchase value, then list (in a table):
#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

Pro_group_1 = file_pd.groupby("Item ID").agg({'Item ID': 'count','Price':'sum'})
Pro_group_2 = file_pd.groupby("Item ID").agg({'Price':'unique','Item Name':'unique'})

In [245]:
#Sorted
pro_sorted = Pro_group_1.sort_values(by='Item ID', ascending=False,) 
pro_sorted  = pro_sorted .rename(
     columns={"Item ID": "Purchase Count","Price": "Total Purchase Value"})
Pro_group_2  = Pro_group_2 .rename(
     columns={"Price": "Item Price"})

pro_sorted = pro_sorted .reset_index()
Pro_group_2 = Pro_group_2.reset_index()
pro_sorted = pro_sorted.merge(Pro_group_2, on="Item ID")

pro_sorted.head(5)

,Item ID,Purchase Count,Total Purchase Value,Item Price,Item Name
0,39,11,25.85,[2.35],"[Betrayal, Whisper of Grieving Widows]"
1,84,11,24.53,[2.23],[Arcane Gem]
2,31,9,18.63,[2.07],[Trickster]
3,175,9,11.16,[1.24],[Woeful Adamantite Claymore]
4,13,9,13.41,[1.49],[Serenity]